.wrapper {
  height: calc(80vh);
}
.current-point, .current-point input {
  font-size: 150px;
  color: #1565c0;
  width: 400px;
}

.current-team {
  font-size: 18px;
  color: #1565c0;
  width: 400px;
}

.current-point .mat-form-field-label-wrapper {
  display: none !important;
}
